.project
**/.settings/*
!**/.settings/org.eclipse.jdt.ui.prefs
.classpath
*.class
.metadata
.recommenders
.idea
*.iml
nativeLib
logs
*.log
*.log.swp
filelist.txt
native-lib
.DS_Store
/hp/
/workspace/
combined.css
